<div class="jumbotron home section-top">
  <div class="container">
    <h1 class="splash-title">Keep track of your Strava Gear.</h1>
    <!-- <hr class="splash-hr" /> -->
    <h2 class="splash-subtitle">Detailed stats for your bikes and shoes. All in one place.</h2>
    <a href="https://www.strava.com/oauth/authorize?client_id=16926&response_type=code&redirect_uri=http://stravagear.com/token_exchange.php&approval_prompt=force"><%= image_tag("btn_strava_2x.png", :id => "strava-button") %></a>
    </div>
  </div>

  <div class="jumbotron home section-app">
    <div class="container subtitle-container">
      <h2 class="splash-subtitle" id="splash-subtitle-dark"> Swapped your chain?
      Added brake pads? Add a note. In style. </h2>
    </div>
    <div class="container">
      <%= render 'layouts/bike-panel' %>
      <%= render 'layouts/bike-panel' %>
      <%= render 'layouts/shoe-panel' %>

    </div>
  </div>

<div class="jumbotron home section-shoes">
  <div class="container">

  </div>
</div>
