<div class="jumbotron home section-top">
  <div class="container">
    <h2 id="header-top">Odometer dashboard for your Strava Gear.</h2>
    <a href="#"><%= image_tag("btn_strava_2x.png", :id => "strava-button") %></a>

    <!-- <p>Find me in app/views/static_pages/index.html.erb</p> -->
    </div>
  </div>
