<div class="jumbotron home section-top">
  <div class="container">
    <h1 class="splash-title">Keep track of your Strava Gear.</h1>
    <!-- <hr class="splash-hr" /> -->
    <h2 class="splash-subtitle">Detailed stats for your bikes and shoes. All in one place.</h2>
    <a href="#"><%= image_tag("btn_strava_2x.png", :id => "strava-button") %></a>
    </div>
  </div>

  <div class="jumbotron home section-app">
    <div class="container">
      <h2 class="splash-subtitle">Detailed stats on </h2>
    </div>
  </div>

<div class="jumbotron home section-shoes">
  <div class="container">
    <%= render 'layouts/bike-panel' %>

  </div>
</div>
