@import "bootstrap-sprockets";
@import "bootstrap";


// Colors and Mixins

$default-border: #D6D5D6;
$nav-bg: rgba(246,246,246, 1.0);
$panel-title: rgba(0, 0, 0, 0.5);
$strava-main: #FC4C02;
$mileage-bubble: rgba(0, 0, 0, 0.35);
// Main

body {
  font-family: Roboto;
  min-height: 1000px;
}

#fixed-nav-body-margin {
  height: 70px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.5em;
}

hr {
  border-top: 1px solid rgba(153, 153, 153, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}

// Nav

.navbar-default {
  font-size: 16px;
  background-color: $nav-bg;
  border-bottom: 1px solid #D6D5D6;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.5);
  font-weight: 300;
}

.navbar-header {
  margin-top: 10px;
}

#logo {
  color: $strava-main;
  font-size: 26px;
  text-shadow: 0px 0px 30px rgba(153, 153, 153, 0.5)
}

#nav-tall {
  height: 70px;
}

.navbar ul>li {
  background-color: $nav-bg;
}

.dropdown-menu {
  background-color: $nav-bg;
}

.navbar-right {
  margin-top: 10px;
}

.navbar-default .navbar-collapse {
  border: none;
}

li.dropdown {
  // border: 1px solid rgba(153, 153, 153, 0.8);
  // border-radius: 0.5em;
  // background-color: rgba(153, 153, 153, 0.5);
}

// Splash Page

.section-top {
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: image-url("bike_cervelo.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  box-shadow: 0px 2-px 30px rgba(153, 153, 153, 1);
}

h1.splash-title {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 300;
  color: rgba(255,255,255,1);
  text-shadow: 10px 0px 20px rgba(0, 0, 0, 1);
}

.splash-subtitle {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 300;
  color: rgba(255,255,255,0.8);
  text-shadow: 10px 0px 20px rgba(0, 0, 0, 1);
}

.subtitle-container {
  text-align: center;
}

#splash-subtitle-dark {
  font-size: 32px;
  color: $panel-title;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.splash-hr {
  width: "100px";
}

#strava-button {
  margin-top: 50px;
  width: 300px;
}

.jumbotron {
  margin-bottom: 0px;
}

.section-app {
  margin-top: 0px;
  margin-bottom: 0px;
  // background-image: image-url("shoes-stairs.jpg");
  background-color: rgba(246,246,246, 0.5);
  background-position: center;
  background-size: cover;
  height: 300px;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.5);
}


.section-shoes {
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: image-url("shoes-stairs.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.5);
}



// Dashboard

.dashboard-header {
  margin-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.dashboard-header h3 {
  font-weight: 300;
  text-align: center;
}

.panel {
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 300;
  box-shadow: 0px 0px 40px rgba(153, 153, 153, 0.3),
              0px 10px 30px rgba(153, 153, 153, 0.3);
  border: none;
  border-radius: 0.5em;
}

.bike-panel-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  border-bottom: 0px solid rgba(153, 153, 153, 0.2);
}

.bike-panel-footer {
  height:65px;
  background-color: rgba(153, 153, 153, 0.2);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.bike-table-row-short {
  height: 20px;
  width: 100%;
  border: 0px solid rgba(153, 153, 153, 0.2);
  margin: 0;
  overflow: auto;
}

.bike-table-row {
  height: 90px;
  width: 100%;
  border: 0px solid rgba(153, 153, 153, 0.2);
  margin: 0;
  overflow: auto;
}

.bike-col {
  height: 30px;
  width: 50%;
}

.top-left, .bottom-left{
  float: left;
}

.top-right, .bottom-right{
  float: right;
}

#bike-icon{
    height: 125px;
}

.bike-odo {
  background: $mileage-bubble;
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 6px 9px;
  font-size: 16px;
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.3),
              0px 10px 20px rgba(153, 153, 153, 0.3);
}

.panel-container {
  display: block;
  overflow: hidden;
  box-shadow: 0px 15px 20px rgba(153, 153, 153, 0.15);
}
.make-model-container {
  float: left;
  margin-left: 20px;
}

.make {
  color: $panel-title;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 5px;
}

.model {
  color: $panel-title;
  font-size: 14px;
  font-weight: 300;
  margin-top: 0px;
  margin-left: 3px;
  line-height: 1em;
}

.bike-detail-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  padding-top: 10px;
}

.bike-detail {
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 40px;
  padding-top: 5px;
}

.add-comment {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: $strava-main;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0px 15px;
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.3),
              0px 10px 20px rgba(153, 153, 153, 0.3);
  z-index: 1000;
  font-size: 20px;
  color: #fff;
}

.add-comment:hover {
  background-color: rgba(240,70,5, 1.0);
}

// shoe panel

#shoe-icon {
  height: 100px;
}

.shoe-table-row-short {
  height: 40px;
  width: 100%;
  border: 0px solid rgba(153, 153, 153, 0.2);
  margin: 0;
  padding: 15px;
}

.shoe-table-row {
  height: 10px;
  width: 100%;
  border: 0px solid rgba(153, 153, 153, 0.2);
  margin: 0;
  overflow: none;
}

.progress {
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.3),
              0px 10px 20px rgba(153, 153, 153, 0.3);
}

.progress-bar {
  background-color: $strava-main;
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.3),
              10px 10px 30px rgba(153, 153, 153, 0.4);
  border-radius: 4px;
}

#shoe-panel-footer {
  height: 75px;
}

#add-comment-shoe {
  margin-top: 10px;
  padding: 10px 15px;
}

// footer

.footer {
  background-color: #FBFBFB;
  border-radius: 0;
  z-index: 1;
}

#footer-container {
  margin: 0;
  padding: 0;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 767px) {
     .section-top {
       height: 400px;
     }

     li.dropdown {
       border: none;
       border-radius: 0;
     }

     #strava-button {
       margin-top: 50px;
       width: 200px;
       margin-left: auto;
       margin-right: auto;
     }
   }
