<div class="container-fluid" id="footer-container">
  <div class="jumbotron footer">
    <div class="container">
      <strong>Strava Gear</strong></h3>
      <hr />
      <ul class="footer-nav">
        <li class="footer-link"><a href="/about">About</a></li>
        <li class="footer-link"><a href="/dashboard">My Dashboard</a></li>
        <!-- <li><a href="/profile">Profile</a></li> -->
      </ul>
    </div>
  </div>
</div>
