<div class="col-md-4">
    <div class="panel panel-default">
      <div class="bike-panel-heading">
        <%= image_tag("bike-icon.png", :id => "bike-icon") %>
      </div>
      <div class="panel-container">
        <div class="make-model-container">
          <h3 class="make">Trek</h3>
          <h4 class="model">Madone</h4>
        </div>

        <span class="badge bike-odo" >1000 mi</span>
      </div>

      <div class="bike-panel-footer">
          <div class="bike-table-row-short top-row">
              <div class="bike-col top-left bike-detail-title">
                Weight
              </div>
              <div class="bike-col top-right bike-detail-title">
                Type
              </div>
          </div>

          <div class="bike-table-row bottom-row">
              <div class="bike-col bottom-left bike-detail">
                20.0 LB
              </div>
              <div class="bike-col bottom-right bike-detail">
                Road
              </div>
              <a href="#"><div class="add-comment">
                <i class="fa fa-comment" aria-hidden="true"></i>
              </div>
              </a>
          </div>
        </div>
      </div>
</div>
